html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*prevent adjustment of font size inIE*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*apply box layout*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  background-color: Navy;
  color: DarkGrey;
  padding: 1rem 2%;
}
header h1 {
  font-size: 2rem;
  font-weight: 400;
}
header h2 {
  font-weight: 400;
  font-size: .90rem;
}

nav {
  background-color: DarkGrey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
nav ul li {
  float: left;
  width: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: Navy;
  font-weight: 700;
  padding: .5rem 0;
  transition: background 0.75s ease, color 0.75s ease;
}
nav ul li a:hover {
  color: DarkGrey;
  background-color: Navy;
}
nav ul li.active a {
  background-color: dimgray;
}
nav ul li:last-child {
  border-right: none;
}

main figure.banner {
  width: 100%;
}
main figure.banner img {
  width: 100%;
}
main h1 {
  font-size: 2rem;
  margin: 1rem 0 0 2%;
  color: Navy;
}
main figure.photo {
  width: 96%;
  margin: 0.5rem 2%;
  border: 1px solid DarkGrey;
}
main figure.photo img {
  width: 100%;
}
main figure.photo figcaption {
  text-align: center;
  border-color: Navy;
}
main h2 {
  font-size: 2rem;
  margin: 1rem 0 0 2%;
  color: Navy;
}
main div.blog h3 {
  font-size: 1.2rem;
  color: #0000e6;
}
main div.blog article {
  margin: 0.5rem 2%;
  width: 96%;
}
main div.blog article p {
  line-height: 130%;
  color: Navy;
}

footer {
  background-color: Navy;
}
footer p {
  color: DarkGrey;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.25rem 0;
}

/*misc setting */
.clearfix:after {
  visibility: hidden;
  display: table;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (min-width: 560px) {
  /*main*/
  main figure.photo {
    width: 46%;
    margin: 0.5rem 2%;
    float: left;
  }
  main div.blog article {
    margin: 0.5rem 2%;
    width: 46%;
    float: left;
  }
  main div.blog article p {
    line-height: 130%;
    color: Navy;
  }
}
@media only screen and (min-width: 1140px) {
  body div#wrapper {
    max-width: 80rem;
    margin: 2rem auto;
    box-shadow: 0 0 10px black;
  }

  nav ul {
    margin-left: 2%;
  }
  nav ul li {
    width: auto;
  }
  nav ul li a {
    padding: .5rem 1rem;
  }
  nav ul li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
  }
  nav ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }

  main figure.photo {
    width: 21%;
    margin: 0.5rem 2%;
    float: left;
  }
  main div.blog article {
    margin: 0.5rem 2%;
    width: 29.33%;
    float: left;
  }
  main div.blog article p {
    line-height: 130%;
    color: Navy;
  }
  main div.blog article:nth-child(2n+1) {
    clear: none;
  }
  main div.blog article:nth-child(3n+1) {
    clear: left;
  }
}

/*# sourceMappingURL=styles.css.map */
