body {
    div#wrapper {
        max-width: 80rem;
        margin: 2rem auto;
        box-shadow: 0 0 10px black;
    }
}

nav {
    ul {
        margin-left: $gutter;
        li {
            width: auto;
            a {
                padding: .5rem 1rem;
            }
        }
        li:first-child {
            border-left: 1px solid rgba(0, 0, 0, .4);
        }
        li:last-child {
            border-right: 1px solid rgba(0, 0, 0, .4);
        }
    }
}

main {
    figure.photo {
        width: 25% - $gutterDouble;
        margin: .5rem $gutter;
        float: left;
    }
    div.blog {
        article {
            margin: .5rem $gutter;
            width: 33.33%-$gutterDouble;
            float: left;
            p {
                line-height: 130%;
                color: $fontColor;
            }
        }
        article:nth-child(2n+1) {
            clear: none;
        }
        article:nth-child(3n+1) {
            clear: left;
        }
    }
}